.cm_integrated-inline {
  display: inline;
}
.cm_integrated-label {
  display: inline;
  font-weight: bold;
}
.cm_integrated-status-draft {
  color: #a30000;
}
.cm_integrated-status-sent {
  color: #33a333;
}
.cm_integrated-status-scheduled {
  color: #33a333;
}
table.cm_integrated-node-table {
  border: none;
  border-collapse: separate;
  width: 60%;
}
